@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
:root {
    --back-color: #FDE49C;
    --heading-color: #FFB740;
}

* {
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    
}

body {
    margin: 0;
}

main {

    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--back-color);
}

h1,p{
    color: black;
}


.heading {
    font-size: 1.3rem;
    padding: 1.5rem 1rem 0.5rem;
    color: var(--heading-color);
    font-weight: bold;
}


input {
    width: 100%;
    padding: 1rem;
    height: 50px;
    display: block;
}

button {
    padding: 0.5rem 1rem;
    display: block;
    font-size: 1rem;
    border: none;
    margin: 1rem auto 0;
    background-color: var(--heading-color);
    color: var(--back-color);
    font-weight: bold;
}

.cashGiven {
    display: none;
}

.changeReturn {
    display: none;
}

.errorMsg {
    font-weight: bold;
    padding-top: 1rem;
    color: black;
}

#output {
    margin: 1rem 0;
}

#output table,
th,
td {
    padding: 0.2rem;
    color:black;
    background-color: var(--heading-color);
    font-weight: bolder;
    border: var(--back-color) 2px solid;
    border-collapse: collapse;
}

.noOfNotes {
    background-color:white;
    font-weight: bolder;
}

table {
    width: 100%;
    table-layout: fixed;
}

th,
td {
    word-wrap: break-word;
}