:root{
    --dark-green : #064E3B;
    --faint-green: #A7F3D0;
}
*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}

main{

    width: 100%;
    max-width: 500px;
    min-height: 200px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
    background-color: var(--dark-green);
}
h1, p{
    color: white;
}
.heading{
    font-size: 1.3rem;
    padding: 1.5rem 1rem 0.5rem;
    color: var(--faint-green);
}


input{
    width: 100%;
    padding: 1rem;
    height: 50px;
    display: block;
}

button{
    padding: 0.5rem 1rem;
    display: block;
    font-size: 1rem;
    border: none;
    margin: 1rem auto 0;
    background-color:var(--faint-green);
    color: var(--dark-green);
    font-weight: bold;
}

.cashGiven{
    display: none;
}
.changeReturn{
    display: none;
}
.errorMsg{
    padding-top: 1rem;
    color:white;
}
#output{
    margin: 1rem 0;    
}

#output table, th, td{
    padding: 0.2rem;
    color: var(--dark-green);
    background-color:var(--faint-green);
    border: 2px solid var(--dark-green) ;
    border-collapse: collapse;
}
.noOfNotes{
    background-color:white;
    font-weight: bold;
}

table{
    width: 100%;
    table-layout: fixed;
}

th,td{
    word-wrap: break-word;
}